In [2]:
hello=('ciao')
print (hello)

ciao

In [3]:
hello=('ciao world')
print (hello)

ciao world

In [13]:
hello=('ciao \nworld ')
print (hello)

ciao
world

In [14]:
hello=('ciao \tworld ')
print (hello)

ciao 	world

In [15]:
len ('hello')

5

In [16]:
mystring= 'hey you'

In [17]:
mystring

'hey you'

In [19]:
mystring[0]

'h'

In [20]:
mystring[4]

'y'

In [22]:
mystring[-1]

'u'

In [23]:
mystring='abcdefghijk'

In [24]:
mystring[2]

'c'

In [25]:
mystring[2:]

'cdefghijk'

In [26]:
mystring[:3]

'abc'

In [27]:
mystring[3:6]

'def'

In [28]:
mystring[1:3]

'bc'

In [29]:
mystring[3:9]

'defghi'

In [31]:
mystring[3::]

'defghijk'

In [32]:
mystring[1:4:2]

'bd'

In [33]:
mystring[::-1]

'kjihgfedcba'

In [36]:
x='Hello world'
x+ ' it is beautiful inside'
# string concatenation

'Hello world it is beautiful inside'

In [37]:
letter= 'z'
letter*10

'zzzzzzzzzz'

In [ ]:
x= 'Hello world'
x.

In [38]:
x.upper()

'HELLO WORLD'

In [39]:
x.lower()

'hello world'

In [40]:
x.split()

['Hello', 'world']

In [42]:
x.split('o')

['Hell', ' w', 'rld']

In [45]:
print ('Hello world{}'.format('!'))
# string interpolation

Hello world!

In [49]:
print ('I am {} {} {}'.format('so','so','weird'))

I am so so weird

In [50]:
print ('I am {2} {1} {0}'.format('so','so','weird'))

I am weird so so

In [51]:
print ('I am {q} {b} {c}'.format(q='so',b='so',c='weird'))

I am so so weird

In [53]:
mylist=[1,'babe',1.2]

In [54]:
len(mylist)

3

In [59]:
mylist[0]

1

In [60]:
mylist[0:2]

[1, 'babe']

In [61]:
mylist2=['uno',1.5,'rule']

In [63]:
newlist=mylist+mylist2

In [64]:
mylist+mylist2

[1, 'babe', 1.2, 'uno', 1.5, 'rule']

In [66]:
newlist[0]='ONE'

In [67]:
print (newlist)

['ONE', 'babe', 1.2, 'uno', 1.5, 'rule']

In [69]:
newlist.append('red')

In [70]:
print(newlist)

['ONE', 'babe', 1.2, 'uno', 1.5, 'rule', 'red']

In [71]:
newlist.pop()

'red'

In [74]:
newlist2= ['a','r','c']
numlist=[4,1,8,3]

In [75]:
newlist2.sort()

In [76]:
newlist2

['a', 'c', 'r']

In [77]:
numlist.sort()

In [78]:
numlist

[1, 3, 4, 8]

In [79]:
numlist.reverse()

In [80]:
numlist

[8, 4, 3, 1]

In [82]:
my_dict={'key1':'value1','key2':'value2'}

In [83]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [84]:
my_dict['key1']

'value1'

In [89]:
price= {'apple':2.99,'oranges':1.99}

In [90]:
price['apple']

2.99

In [91]:
a={'a1':12,'a2':[1,2,3],'a3':{'insidekey':1}}

In [93]:
a['a2']

[1, 2, 3]

In [95]:
a['a3']['insidekey']

1

In [96]:
dict= {'one':['a','b','c']}

In [97]:
dict

{'one': ['a', 'b', 'c']}

In [98]:
dict['one'][2]

'c'

In [100]:
dict['one'][2].upper()

'C'

In [103]:
d= {'uno':12,'due':13,'tre':14}

In [110]:
d['quattro']=15

In [115]:
d['uno']=12

In [116]:
d

{'uno': 12, 'due': 13, 'tre': 14, 'one': '11', 'quattro': 15}

In [117]:
d.keys()

dict_keys(['uno', 'due', 'tre', 'one', 'quattro'])

In [118]:
d.values()

dict_values([12, 13, 14, '11', 15])

In [119]:
d.items()

dict_items([('uno', 12), ('due', 13), ('tre', 14), ('one', '11'), ('quattro', 15)])

In [121]:
t=(1,2,3)

In [122]:
mylist=[1,2,3]

In [125]:
type(t)

tuple

In [126]:
t=('one',2)

In [127]:
t[-1]

2

In [128]:
t=('a','a','b')

In [129]:
t.count('a')

2

In [130]:
t.index('a')

0

In [131]:
t

('a', 'a', 'b')

In [132]:
mylist

[1, 2, 3]

In [134]:
mylist[2]=4

In [135]:
mylist

[1, 2, 4]

In [138]:
t[0]=4
# IMMUTABILITY: you cannot reassign items in a tuple, but you can add elements

TypeError: 'tuple' object does not support item assignment

In [142]:
myset= set()

In [143]:
myset.add(1)

In [144]:
myset

{1}

In [145]:
myset.add(2)

In [146]:
myset

{1, 2}

In [148]:
myset.add(1)

In [149]:
myset
# sets are unordered collections of UNIQUE elements. 
#1 was already part of the set so it cannot be added again

{1, 2}

In [153]:
mis= set()
mis.add('m')
mis.add('i')
mis.add('s')
mis.add('p')

In [154]:
mis

{'i', 'm', 'p', 's'}

In [157]:
%%writefile mypython.txt

this is a line

Writing mypython.txt

In [159]:
mypython = open('mypython.txt')

In [160]:
pwd

'C:\\Users\\svc_multipatch'

In [161]:
mypython.read()

'\nthis is a line\n'

In [162]:
mypython.seek(0)

0

In [163]:
mypython.read()

'\nthis is a line\n'

In [169]:
mypython = open('C:\Users\svc_multipatch\mypython.txt')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-169-e4e6b2b6a4f5>, line 1)

In [171]:
# boolean operations
1==2

False

In [172]:
3!=1

True

In [173]:
1>2

False

In [174]:
3<5

True

In [175]:
2<=3

True

In [176]:
# logical operators
1 <1 <3

False

In [177]:
1 <2 and 1 <3
#and means both sentences have to be True

True

In [178]:
1<2 or 5 <3
#or means at least one of the two sentences have to be True

True

In [179]:
1==1

True

In [180]:
not 1==1
#not show the opposite boolean of what it is displayed

False

In [181]:
#IF, ELIF, ELSE statements

if True:
    print('it is true')

it is true

In [189]:
hungry = False
if hungry:
    print('feed me')
else:
    print ('not hungry')

feed me

In [194]:
location = 'bank'
if location=='autoshop':
    print ('cool')
elif location=='bank':
    print ('yei')
else:
    print ('not cool')

yei

In [199]:
name= 'sammy'
if name == 'frankie':
    print ('hi frankie')
elif name == 'sammy':
    print ('hi sammy')
else:
    print ('hi you')

hi sammy